.ant-card-cover {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gutter-row {
}

.card-icon {
    max-width: 200px;
}

.card-out :hover{
    background-color: cornsilk;
}